<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img style="max-width: 12%;" src="assets/imgs/logo.jpeg"/>
      <span>PHP QUIZ</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


   

  <ion-content class="card-background-page">
    
      <!-- <ion-card>
       
          <div>PHP QUIZ</div>
       
        </ion-card> -->



    <ion-card (click)="goChapter1TechPage()">
     <div class="image"> <img src="assets/imgs/home/php1.png"/></div>
      <div class="card-title">Basic Syntax</div>
      <div class="card-subtitle">10 Listings</div>
    </ion-card>
  
    <ion-card (click)="goVariablesPage()">
      <img src="assets/imgs/home/php2.png"/>
      <div class="card-title">Variables</div>
      <div class="card-subtitle">7 Listings</div>
    </ion-card>
  
    <ion-card (click)="goOperatorsPage()">
      <img src="assets/imgs/home/php3.png"/>
      <div class="card-title">Operators</div>
      <div class="card-subtitle">7 Listings</div>
    </ion-card>
  
    <ion-card (click)="goArraysPage()">
      <img src="assets/imgs/home/php5.png"/>
      <div class="card-title">Arrays</div>
      <div class="card-subtitle">6 Listings</div>
    </ion-card>

    <ion-card (click)="goCSPage()">
      <div class="image"> <img src="assets/imgs/home/php4.png"/></div>
       <div class="card-title">Control Structures</div>
       <div class="card-subtitle">20 Listings</div>
     </ion-card>
   
     <ion-card (click)="goFunctionsPage()">
       <img src="assets/imgs/home/php6.png"/>
       <div class="card-title">Functions</div>
       <div class="card-subtitle">4 Listings</div>
     </ion-card>
   
     <ion-card (click)="goPreDefVarPage()">
       <img src="assets/imgs/home/php7.png"/>
       <div class="card-title">Predefined Variables</div>
       <div class="card-subtitle">7 Listings</div>
     </ion-card>


     <ion-card (click)="goJQueryPage()">
       <img src="assets/imgs/home/php8.png"/>
       <div class="card-title">QUIZ</div>
       <div class="card-subtitle">63 Listings</div>
     </ion-card>

     
  </ion-content>
  
</ion-content>
