page-home {
  .scroll-content {
    margin-top: 30px !important;
  }
  span {
    position: absolute;
    top: 6px;
    left: 70px;
  }
  ion-content {
    background: map-get($colors, secondary);
  }
}
.card-background-page {

    

    ion-card {
      position: relative;
      text-align: center;
      
    }
    
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #000;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
    }
  
  }
