<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ record.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <h1 padding style="text-align: justify; white-space: pre-line;">{{ record.question }}</h1>
  <ion-card>
    <ion-list radio-group [(ngModel)]="relationship">
      <ion-item *ngFor="let item of record.choice" >
        <ion-label>{{item.description}}</ion-label>
        <ion-radio (ionSelect)="select(item)" item-left [value]="item"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <!-- <button ion-button ion-start margin (click)="goBack()">
    BACK
  </button> -->
  <button *ngIf="isCorrect" ion-button style="float: right;"  margin (click)="goNextPage()">
    NEXT
  </button>
  <button *ngIf="!isCorrect" ion-button style="float: right;"  margin>
    NEXT
  </button>
</ion-footer>
