<ion-header>
  <ion-navbar color="primary">
    <ion-title>Total Result</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
 
  <!-- <h2>{{record}}/{{total}}</h2> -->

  <button ion-button round> <h1>SCORE BAND</h1></button>

  <!-- <h3 ion-text color="red">{{record}}/{{total}}</h3> -->
  <button ion-button full>{{record}}/{{total}}</button>

  <button ion-button (click)="goHome()">TRACK PROGRESS</button>
    
</ion-content>
